@charset "UTF-8";

.glyphicon-bell:before {
  content: "🔔";
}
.glyphicon-bookmark:before {
  content: "🔖";
}
.glyphicon-briefcase:before {
  content: "💼";
}
.glyphicon-calendar:before {
  content: "📅";
}
.glyphicon-camera:before {
  content: "📷";
}
.glyphicon-fire:before {
  content: "🔥";
}
.glyphicon-lock:before {
  content: "🔒";
}
.glyphicon-paperclip:before {
  content: "📎";
}
.glyphicon-pushpin:before {
  content: "📌";
}
.glyphicon-wrench:before {
  content: "🔧";
}
.no-margin {
    margin: 2px!important;
}

body {
  overflow-x: hidden;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.contentMain {
  width: 95%;
  margin-left: auto;
  margin-right: 40px;
  margin-bottom: 100px;
  top:51px;
  position: absolute;
  padding-bottom: 100px;
}
.rot-neg-90 {
    -moz-transform:rotate(-270deg); 
    -moz-transform-origin: bottom left;
    -webkit-transform: rotate(-270deg);
    -webkit-transform-origin: bottom left;
    -o-transform: rotate(-270deg);
    -o-transform-origin:  bottom left;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

/* From Bootstrap 2.3.* removed in 3.* */
.label-important,
.badge-important {
  background-color: #d2322d!important;
}

.label-important[href],
.badge-important[href] {
  background-color: #d43f3a!important;
}

.label-warning,
.badge-warning {
  background-color: #F0AD4E!important;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #EEA236!important;
}

.label-success,
.badge-success {
  background-color: #5CB85C!important;
}

.label-success[href],
.badge-success[href] {
  background-color: #4CAE4C!important;
}

.label-info,
.badge-info {
  background-color: #3a87ad!important;
}

.label-info[href],
.badge-info[href] {
  background-color: #2d6987!important;
}

.label-inverse,
.badge-inverse {
  background-color: #333333!important;
}

.label-inverse[href],
.badge-inverse[href] {
  background-color: #1a1a1a!important;
}

.menu {
  padding-top: 15px;
  height: 100%;
  top: 40px;
  position: absolute;
  width: 100%;
  /*width: 16.6667%;*/
}

#col-menu {
  height: 100%;
  background-color: #bbbbbb;
  position: fixed;
  padding : 0px 0px;
}

#navbar-top {
  margin-bottom: 0px;
  background-color: rgba(0, 166, 194, 1);
  position: fixed;
  width: 100%;
}

.navbar-brand,.navbar-default {
  color : rgba(212, 212, 212, 1);
}

#footer {
  background-color: #B0C6DD;
}

.menu-lien {
  display: block;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  font-size : 18.2px;
}

.menu-lien:hover {
  text-decoration: none;
  background-color: #dddddd;
}

.enfant {
  padding-left: 10%;
  font-size: 12px;
  padding-bottom: 2px;
}

.divider {
  padding-bottom: 1px;
  position: relative;
  width: 100%;
  display: block;
}

.titre {
  text-align: center;
  color: red;
}

.grand {
  font-size: 14px;
}

.gauche {
  float: left;
}

.droite {
  float: right;
}

.floatContainer {
  display: block;
  padding-bottom: 20px;
  padding-right: 20px;
  height: 15px;
}

.actuel {
  background-color:#ddd;
}

#nomJunior {
  color : rgba(212, 212, 212, 1);
}